<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>

<table  class="tabla_cine" border="1" >


        <tr>
      
          <th>Identificacion Cliente</th>
          <th>Tipo de entrada</th>
          <th>Número de Clientes</th>
          <th>Costo</th>
          <th>Película</th>
          <th>Hora de función</th>
      
        </tr>
      
        <tr>
      
          <td>1314151201</td>
          <td>3D</td>
          <td>5</td>
          <td>10</td>
          <td>Awake</td>
          <td>21:00</td>
      
        </tr>
      
        <tr>
      
            <td>1314151202</td>
            <td>Normal</td>
            <td>4</td>
            <td>7</td>
            <td>The long
                Halloween</td>
            <td>22:00</td>
      
        </tr>
      
        <tr>
      
            <td>1314151203</td>
            <td>Normal</td>
            <td>3</td>
            <td>5</td>
            <td>Avengers</td>
            <td>13:00</td>
      
        </tr>
        <tr>
      
            <td>1314151204</td>
            <td>3D</td>
            <td>6</td>
            <td>10</td>
            <td>Avatar</td>
            <td>15:00</td>
      
        </tr>
        <tr>
      
            <td>1314151205</td>
            <td>3D</td>
            <td>3</td>
            <td>8</td>
            <td>La noche del terror</td>
            <td>21:00</td>
      
        </tr>
        <tr>
      
            <td>1314151206</td>
            <td>Normal</td>
            <td>5</td>
            <td>7</td>
            <td>FyF</td>
            <td>14:00</td>
      
        </tr>
        <tr>
      
            <td>1314151207</td>
            <td>Normal</td>
            <td>3</td>
            <td>5</td>
            <td>Cruela</td>
            <td>16:00</td>
      
        </tr>
        <tr>
      
            <td>1314151208</td>
            <td>3D</td>
            <td>5</td>
            <td>9</td>
            <td>Luca</td>
            <td>11:00</td>
      
        </tr>
        <tr>
      
            <td>1314151209</td>
            <td>3D</td>
            <td>6</td>
            <td>10</td>
            <td>Batman</td>
            <td>21:00</td>
      
        </tr>
        <tr>
      
            <td>1314151210</td>
            <td>Normal</td>
            <td>8</td>
            <td>7</td>
            <td>Spiderman</td>
            <td>20:00</td>
      
        </tr>
      
      
</table>   
</body>
</html>